html {
  scroll-behavior: smooth;
  font-size: 22px;
  line-height: normal;
}

html,
body {
  height: 100%;
  color: var(--font-color);
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: seashell;
}

h2 {
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}

/*Nav Section*/
nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
  background-image: url(./resources/aurora.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
  position: fixed;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}

/*About Me Section*/
.portrait {
  width: 300px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
}

.about-me-container {
  display: flex;
}

.about-me-text-container {
  margin-right: var(--spacing-3);
}

/*Project Section*/
.project-image {
  width: 50%;
}

.project-title h3 {
  display: inline;
}

details {
  cursor: pointer;
  margin-bottom: var(--spacing-1);
}

/*Skills Section*/

.skills-container {
    width: 1000px;
    margin: 50px auto 100px auto;
    position: relative;
}

.skills-head {
    text-align: center;
    margin: var(--spacing-4);
}

#skills-center-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#skills-fa-container {
    display: block;
    padding: var(--spacing-4);
}

#skills-fa-container i {
    flex-basis: auto;
    margin-bottom: var(--spacing-3);
    font-size: 40px;
}

figcaption {
    text-align: center;
    margin-top: var(--spacing-1);
    font-weight: bold;
}

.skills-details > summary {
    list-style: none;
  }
  .skills-details > summary::-webkit-details-marker {
    display: none;
  }

/*Rest*/
footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
}

#contact-elements {
  margin: var(--spacing-1);
}

section {
  padding: var(--spacing-3) 0;
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
    opacity: 0.7;
}

#logo {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
}
